<%= render :file => 'benefits/tabs' %>
<div class="container">
    <div class="topper">
        <div class="left-side"></div>
        <div class="right-side"></div>
    </div>
    <div class="options">
        <div class="option">
            <div class="option-content"></div>
        </div>
        <div class="option">
            <div class="option-content"></div>
        </div>
        <div class="option">
            <div class="option-content"></div>
        </div>
        <div class="option">
            <div class="option-content"></div>
        </div>
        <div class="option">
            <div class="option-content"></div>
        </div>
        <div class="option">
            <div class="option-content"></div>
        </div>
    </div>
</div>