<div class="tabs">
    <%= nav_link "View current benefits", "/benefits", :span, "tab", :action, "index" %>
    <%= nav_link "Offer more benefits", "/benefits/more", :span, "tab", :action, "more" %>
    <%= nav_link "Benefits report", "/benefits/report", :span, "tab", :action, "report"  %>
</div>